<!DOCTYPE html>

<head>
  <title>WIZARD NEWS!</title>
  <link rel="stylesheet" href="kickball.css">
  </head>

  <body>

    <h1><%= @articles[0]["title"] %></h1>


  <a href = "http://localhost:4567">HOME</a>
  </body>
</html>