<!DOCTYPE html>

<head>
  <title>WIZARD NEWS!</title>
     <link rel="stylesheet" href="home.css">
  </head>

  <body>

    <h1><%= @header %></h1>

    <p><%= @article %></p>


  <a href = "http://localhost:4567">HOME</a>
  </body>
</html>